.portfolio__section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
}

.modal__btn {
    padding-top: 6px;
    padding-left: 22px;
    padding-bottom: 6px;
    padding-right: 22px;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #212121;
    transition: color var(--time-and-function), background-color var(--time-and-function), box-shadow var(--time-and-function);

    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        background-color: #2196F3;
        color: #FFFFFF;
    }
}

.portfolio__list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    background-color: #FFFFFF;
}

.portfolio__link {
    position: relative;
    display: block;

&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.overlay {
    position: absolute;
    top: 0;
    display: block;
    padding: 63px 24px;
    height: 100%;
    width: 100%;
    transform: translate(0, 100%);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    transition: transform var(--time-and-function);
    background-color: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;

.portfolio__link:hover &,
.portfolio__link:focus & {
    transform: translate(0, 0);
        }
}

.portfolio__img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio__item-wrapper {
    border: 1px solid #ECECEC;
    border-top: none;
    padding: 20px 24px;
}

.portfolio__header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}